Repository storeon/websocket: changes, and which lefthook commands are due for each by the changed paths.
All: yaspeller, size, jest, lint

lefthook.yml:

pre-commit:
  paraller: true
  commands:
    yaspeller:
      glob: "*.md"
      run: npx yaspeller {staged_files}
    size:
      glob: "*.js"
      run: yarn size
    jest:
      glob: "*.js"
      run: yarn jest
    lint:
      glob: "*.js"
      run: yarn lint {staged_files}

Update dependencies and update new lint rules
  index.js
  package.json
  test/demo/index.js
  test/demo/ws_server.js
  test/index.test.js
  yarn.lock
Due: size, jest, lint

Release 0.7.0
  CHANGELOG.md
  package.json
Due: yaspeller

Add lefthook config to npmignore
  .npmignore
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Release 0.8.0
  package.json
Due: none

Release 1.0.0
  CHANGELOG.md
  package.json
Due: yaspeller

Update dependiecies
  package.json
  yarn.lock
Due: none

Release 1.1.0
  CHANGELOG.md
  package.json
Due: yaspeller

Release 1.2.0
  CHANGELOG.md
  package.json
Due: yaspeller
